{% extends "base-2.html.twig" %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <div class="container-fluid">
        <a class="navbar-brand p-4 w-30" href="#">
            <img src="{{asset('images/logo2.png')}}" alt="logo" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active me-2" aria-current="page" href="{{path('app_home')}}">Programme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2" href="{{path('app_inscription')}}">Inscription</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <img src="{{asset('images/banner-programme.png')}}" alt="" class="img-fluid">
    <div class="p-lg-5">
        {% for key, messages in app.flashes %}
        <div role="alert" class="alert alert-{{ key }} my-2">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endfor %}
        <div class="px-2">
            <p class=""><strong>Ces réunions se dérouleront sous la forme de 2 demi-journées :</strong></p>
            <h2>Vendredi 8 décembre de 14h à 18h</h2>
            <h3 class="pb-2">RÉUNIONS EN PLENIÈRE ANIMÉES PAR UNE JOURNALISTE SCIENTIFIQUE</h3>
            <ul class="px-3">
                <li><strong>Présentations des dernières actualités sur le glioblastome et les conséquences
                sur sa prise en charge,</strong> <i>par les Pr E. Moyal, Pr F. Ducray, Pr J. Honnorat.</i>
                </li>
                <li><strong>Les dernières connaissances scientifiques autour de nos cognitions et
                comportements,</strong> <i>par le Pr P-M Lledo.</i>
                </li>
                <li><strong>Les perspectives et limites de l’IA,</strong> <i>par Luc Ferry, philosophe.</i>
                </li>
                <li><strong>La place de l’émotion dans l’annonce du diagnostic :</strong> <i>point de vue d’une
                psycho-oncologue et illustration par une troupe de théâtre.</i>
                </li>
            </ul>
            <div class="w-hr py-2">
                <hr>
            </div>
            <h2>Samedi 9 décembre de 9h à 13h</h2>
            <h3 class="pb-2">2 ATELIERS PAR GROUPES</h3>
            <ul class="px-3">
                <li><strong>La réthorique en pratique</strong><br>L’art de communiquer avec les patients, <i>animé par Romain Lambret, philosophe
                et Nathaniel Scher, radiothérapeute.</i>
                </li>
                <li><strong>Forum théâtre «Entretiens-toi bien»</strong><br>Théâtre immersif autour de l’annonce du diagnostic, <i>par la Compagnie d’Arcalande et
                synthèse des échanges avec Florence Barruel, psycho-oncologue.</i>
                </li>

            </ul>

            <div class="d-flex justify-content-center my-5">
                <a href="https://gbmacademy.com/inscription2023/register" class="btn btn-primary">SUITE</a>
            </div>

            <div class="my-5">
                <p class="fs-6 text-dark">La présente invitation est soumise aux dispositions des articles L. 1453-3 et suivants du Code de santé publique (Loi
                anti-cadeaux) et de l’article L.1453-1 du
                Code de santé publique (transparence des liens d’intérêt). Les avantages étant inférieurs aux seuils visés à l’article
                L. 1453-11 du Code de santé publique,
                nous nous engageons à déclarer la présente invitation au Conseil National de l’Ordre dont vous dépendez (ci-après «
                Déclaration au Conseil de l’Ordre »),
                par téléprocédure, sur le site IDAHE ou Éthique des Professionnels de Santé, au plus tard huit (8) jours ouvrables avant
                la date de l’évènement. En
                application de l’article L. 1453-10 du CSP, le Conseil de l’Ordre pourra émettre des recommandations sur le contenu de
                l’invitation. Nous nous engageons
                à vous les transmettre. Nous nous réservons la possibilité d’annuler l’évènement dans le cas d’un avis négatif du
                Conseil de l’Ordre.</p>
    
                <p class="fs-6 text-dark">
                    En outre, en application des obligations relatives à la transparence résultant des articles L. 1453-1 et R. 1453-3 du
                    Code de la santé publique, nous transmettrons
                    au Ministère chargé de la santé, en vue de leur publication sur le site Internet public
                    <a class=" text-dark" href="https://www.transparence.sante.gouv.fr">https://www.transparence.sante.gouv.fr</a>, des informations vous concernant
                    se rapportant à cet évènement, notamment votre nom et prénom, qualité, titre, spécialité, adresse professionnelle,
                    numéro RPPS ou d’inscription à l’Ordre et
                    la date, les détails de la manifestation et le montant des avantages qui vous auront été octroyés dans ce cadre.
                </p>
    
                <p class="fs-6 text-dark">Par ailleurs, dans le respect de ces dispositions, nous sommes amenés à recueillir et traiter informatiquement des
                données d’identification et des
                données strictement professionnelles vous concernant. Conformément au Règlement Général à la Protection des Données
                (RGPD) n°2016/679 et à
                la loi Informatique et Libertés modifiée, vous disposez d’un droit d’accès, de rectification, de suppression de vos
                données pour motif légitime ainsi que
                du droit à la portabilité de vos données et du droit à la limitation du traitement des données vous concernant que vous
                pouvez exercer en écrivant à
                <a href="mailto:dataprotection@novocure.com" class="text-dark">dataprotection@novocure.com</a>. Pour plus d’informations sur vos droits, nous vous invitons à consulter la Politique de
                confidentialité Novocure France.
                Conformément à la réglementation applicable, Novocure France SAS devra rendre publiques et/ou divulguer à certains
                tiers, la mise oeuvre de toute
                convention et de tout avantage dont la déclaration est obligatoire. Dans le cadre de nos traitements informatiques, les
                données personnelles recueillies
                dans le cadre de la participation à l’évènement ne seront pas partagées avec des tiers ou transférées en dehors de
                l’Espace économique européen
                sans que des garanties juridiques adéquates aient été mises en place pour assurer la sécurité de ces données
                personnelles.</p>
            </div>

            <footer class="p-2 text-white py-4">
                <p class="mb-2">© 2023 Novocure GmbH, tous droits réservés.</p>
                <p>Novocure® et Novocollege® sont des marques commerciales de Novocure GmbH. </p>
                <p>FR-SRC-0032. Août 2023.</p>
                <p>NOVOCURE FRANCE SAS 4, rue de Marivaux Paris 75002 France</p>
            </footer>

        </div>
{% endblock %}